.playfair-display {
  font-family: "Playfair Display", serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  padding-bottom: 90px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header-logo {
}
.header-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header-menu-link {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.user-nav {
  display: flex;
  gap: 20px;
}

/*--------------------------  HERO  ----------------------------*/
.hero {
  padding-bottom: 90px;
}

.top-slide-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  min-height: 700px;
}
.top-slide-content {
  flex-basis: 183px;
  margin-top: -88px;
}
.top-slider-tittle {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.3;
  text-transform: uppercase;
}
.top-slide-subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.top-slide-text {
  margin-bottom: 20px;
}
.top-slide-btn {
  color: #7449bb;
  border: 1px solid #7449bb;
  padding: 24px 55px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-left: auto;
}
.top-slide-btn:hover {
  background-color: #7449bb;
  color: aliceblue;
  transition: 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.one {
  background-image: url(../images/slidi-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.two {
  background-image: url(../images/slidi-bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none;
}
.button-swap {
  position: relative;
  padding: 20px 20px;
  max-width: 1200px;
}
.swiper {
  padding-bottom: 50px;
}
.swiper-button-next {
  left: 75px;
  right: auto;
}

/*--------------------  about  ----------------------------*/
.about {
  padding-bottom: 150px;
  padding-left: 200px;
}
.about-inner {
  margin-bottom: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.about-inner-text {
  flex-basis: 387px;
}
.about-inner-title {
  font-weight: 400;
  font-size: 32px;
  max-width: 185px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  line-height: 1.34;
  margin-bottom: 20px;
}
.about-inner-item {
  margin-bottom: 15px;
  line-height: 1.2;
}
.about-inner-text-bolt {
  flex-basis: 387px;
}
.about-inner-bolt-item {
  margin-bottom: 15px;
  font-weight: 700;
}
.about-slide-title {
  margin-bottom: 20px;
}
.about-btn-slider {
  margin-top: 20px;
  color: #7449bb;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #7449bb;
  padding: 21px 135px;
}
.about-btn-slider:hover {
  border: 3px solid #7449bb;
  background-color: #7449bb;
  color: aliceblue;
  transition: 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.about-button-swap {
  margin-bottom: 20px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
}
.about-slider {
  padding-left: 200px;
}
/*-------------------------- Acardion -----------------------------*/
.acardion {
  padding-bottom: 150px;
}
.acardion-inner {
  padding-left: 200px;
}
.acardion-item {
  border-bottom: 1px solid #1b1b1b;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.akardion-triger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.acardion-triger-title {
  text-transform: uppercase;
  font-size: 24px;
  flex-basis: 300px;
}
.acardion-triger-text {
  flex-basis: 387px;
}
.acardion-content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.acardion-content-text {
  margin-bottom: 10px;
}
.acardion-triger-img {
  margin-right: 91px;
}

.akardion-triger:active,
.acardion-triger:focus {
}
.akardion-content:active,
.acardion-content:focus {
}
